<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="SignUpPage" aria-hidden="true">
<%= form_for @user=User.new, remote:true, html: {class: 'form-signin', role: 'form', autocomplete:'off', spellcheck:'false'} do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="SignUpPage">用户注册</h4>
      </div>
      <div class="modal-body ">
        <div id="error_msg" class="input-form container"></div>
        <div class="input-form container">
          <% class_up     = 'form-control form-up' %>
          <% class_middle = 'form-control form-middle' %>
          <% class_down   = 'form-control form-down' %>
          <%= f.text_field      :name,                  class: class_up,     placeholder:'用户名'      %>
          <%= f.email_field     :email,                 class: class_middle, placeholder:'电子邮件'    %>
          <%= f.password_field  :password,              class: class_middle, placeholder:'密码'        %>
          <%= f.password_field  :password_confirmation, class: class_middle, placeholder:'确认密码'    %>
          <%= f.text_field      :true_name,             class: class_middle, placeholder:'姓名'        %>
          <%= f.select(:gender, [['男',true],['女',false]], {prompt: '请选择性别'}, class: class_middle ) %>
          <%= f.select(:administration, [['学员','3']], {prompt: '请选择组别'}, class: class_middle ) %>
          <%= f.text_field      :class_name,            class: class_middle, placeholder:'班级'        %>
          <%= f.text_field      :mobile,                class: class_middle, placeholder:'手机'        %>
          <%= f.text_field      :qq,                    class: class_middle, placeholder:'QQ号,可选'   %>
          <%= f.text_field      :renren,                class: class_down,   placeholder:'人人ID,可选' %>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit '确定', class: 'btn btn-success' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
<% end %>
</div>
