$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});
<% if @user.errors.empty? %>
  <% if flash[:alert] %>
  document.getElementById("error_msg_<%= @user.id -%>").innerHTML='\
<div class="alert alert-danger alert-dismissable fade in">\
  <%= flash[:alert] -%>\
</div>\
';
  <% else %>
  document.getElementById("error_msg_<%= @user.id -%>").innerHTML='\
<div class="alert alert-success alert-dismissable fade in">\
  <%= flash[:notice] -%>\
</div>\
';
  <% end %>
  <% flash[:alert]=nil; flash[:notice]=nil %>
  setTimeout("document.getElementById(\"error_msg_<%= @user.id -%>\").innerHTML='';location.href='';",1500);
<% else %>
<%
    message=[]
    attributes=[]
    @user.errors.each do |attr,msg|
      if not attributes.include?(attr)
        message<<msg
        attributes<<attr
      end
    end
    errors=raw sanitize(simple_format(message.join('<br/>')),:tags=>(%w(br)))
%>
  document.getElementById("error_msg_<%= @user.id -%>").innerHTML='\
<div class="alert alert-danger alert-dismissable fade in">\
  <%= errors %>\
</div>\
';
  setTimeout("document.getElementById(\"error_msg_<%= @user.id -%>\").innerHTML=''",2500);
<% end %>
