<div class="header">
  <ul class="nav nav-pills pull-right">
    <li <%=(@active==0) ? raw('class="active"') : ''-%>><a href="/">主页</a></li>
    <li <%=(@active==1) ? raw('class="active"') : ''-%>><a href="/courses">课程</a></li>
    <% if @current_user %>
      <li <%=(@active==2) ? raw('class="active"') : ''-%>><a href="/admin">管理</a></li>
    <% else %>
      <li><a data-toggle="modal" data-target="#signup">注册</a></li>
    <% end %>
  </ul>
  <h3 class="text-muted">队式培训</h3>
</div>
<% if not @current_user %>
  <%= render 'users/signup' %>
  <%= render 'users/signin' %>
<% end %>